#App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  background-color: var(--primary-light);
}

.centered-page {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
