#App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;

  background-color: var(--primary-light);
}

.centered-page {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 8vh 12vw;
}
